<router-outlet></router-outlet>

<h1>TODO Liste</h1>

<form>
  <h2>Ajouter une tache à effectuer</h2>
  <div>
      <label for="title">Nom de la tache</label>
      <input type="text" name="title" id="title">
  </div>
  <div>
      <label for="content">Contenu de la tache</label>
      <input type="text" name="content" id="content">
  </div>
  <button type="button">Ajouter</button>
  <button type="button">Changer les valeurs</button>
</form>

<div class="flex">

  <!-- *ngFor est une directive, elle permet de parcourir un tableau et de créer un composant pour chacun des
      éléments du tableau
      > articles est un tableau présent dans app.component.ts
  -->
  <app-card *ngFor="let actions of actions" [actions]="actions"></app-card>


</div>


